<app-filtros-por-estacion-popup *ngIf="isPopup" [esProyeccion]="false"
      [title]="app.screen.Analitica_de_Datos" [subTitle]="subTitle"
      [analiticas]="analiticas" [hsAnaliticas]="hsAnaliticas"
      [inicio]="inicio" [termino]="termino"
      (search)="searchItem($event)"></app-filtros-por-estacion-popup>

<div fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngFor="let graph of optionsGraph; let i = index" [style.width]="'100%'">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px"  [style.margin-top]="'20px'" >
      <mat-checkbox *ngFor="let item of graph._series" color="accent" inderterminate="false" 
          [(ngModel)]="item.selected" 
          (change)="selectedSeriesChange(graph)" 
          (contextmenu)="openMenu($event, i, item)"
          [style.color]="item.itemStyle.color">{{item.name}}</mat-checkbox>
    </div>
    <div #graph echarts [options]="graph" [ngClass]="chartClassName" [style.width]="'100%'"></div>
  </div>
</div>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
		<button mat-menu-item (click)="openNewGraph(item)" *ngIf="item.indexGraph == 0">{{app.screen.Abrir_en_otro_grafico}}</button>
		<button mat-menu-item (click)="removeFromGraph(item)" *ngIf="item.indexGraph > 0">{{app.screen.Remover_del_grafico}}</button>
    <button mat-menu-item  *ngFor="let graph of moveToGraphs; let i = index" (click)="moveToGraph(item, graph)">{{app.screen.Mover_al_grafico + ' ' + (i + 1)}}</button>
    
	</ng-template>
</mat-menu>