<app-filtros-por-estacion-popup *ngIf="isPopup" [esProyeccion]="esProyeccion"
      [title]="app.screen[title]" [subTitle]="subTitle"
      [analiticas]="analiticas" [hsAnaliticas]="hsAnaliticas"
      [inicio]="inicio" [termino]="termino"
      (search)="searchItem($event)"></app-filtros-por-estacion-popup>

<div fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngFor="let graph of optionsGraph; let i = index" [style.width]="'100%'">
    <app-graph-component [withData]="withData" [graph]="graph" ></app-graph-component>
  </div>
</div>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
		<button mat-menu-item (click)="openNewGraph(item)" *ngIf="item.indexGraph == 0">{{app.screen.Abrir_en_otro_grafico}}</button>
		<button mat-menu-item (click)="removeFromGraph(item)" *ngIf="item.indexGraph > 0">{{app.screen.Remover_del_grafico}}</button>
    <button mat-menu-item  *ngFor="let graph of moveToGraphs; let i = index" (click)="moveToGraph(item, graph)">{{app.screen.Mover_al_grafico + ' ' + (i + 1)}}</button>
    
	</ng-template>
</mat-menu>