<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <div>{{app.screen.HojasDeDatos}}</div>
  <button type="button" mat-icon-button tabindex="-1" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>

  <mat-dialog-content class="dialog-content">
    <form [formGroup]="form">
      <div class="person">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

          <mat-form-field fxFlex="60">
            <mat-label>{{app.screen.Nombre}}</mat-label>
            <input codigo type="text" formControlName="nombre" maxlength="200" matInput required>
          </mat-form-field>

        </div>

    
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>{{gl.screen.EncabezadoArchivo}}</mat-label>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" 
                  cdkAutosizeMinRows="1" 
                  formControlName="encabezado" matInput 
                  [disabled]="dataSource.data.length > 0"
                  (change)="changeEncabezado()"></textarea>
          </mat-form-field>
        </div>
    
      </div>
    </form>
    <fury-list name="{{app.screen.Validaciones}}" [columns]="columns">
      <div class="actions">
        <button class="create"
          (click)="addItem(false)"
          *ngIf="item.editable"
          [disabled]="!validationEdit"
          type="button"
          mat-mini-fab color="accent"
          [matTooltip]="app.screen.Agregar">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <table [dataSource]="dataSource" mat-table>

        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell > {{ column.name }}</th>
            <td *matCellDef="let row" mat-cell [style.text-align]="column.type == 'CHECKED' ? 'center' : 'left'">
              <span *ngIf="!column.type || column.type != 'CHECKED'">{{ row[column.property] }}</span>
              <mat-icon *ngIf="column.type && column.type == 'CHECKED' && row[column.property]">check</mat-icon>
            </td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell>{{ app.screen.Accion }}</th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <div  class="acction-cell">
              <i  aria-hidden="true" title="{{gl.screen.Visualiza_el_registro}}" class="fa fa-eye" (click)="editItem(row, false, false, false)" *ngIf="!item.editable"></i>
              <i  aria-hidden="true" title="{{gl.screen.Editar_registro}}" class="fa fa-pencil" (click)="editItem(row, false, true, false)" *ngIf="item.editable"></i>
              <i  aria-hidden="true" title="{{gl.screen.Borra_el_registro}}" class="fa fa-trash" (click)="deleteItem(row)" *ngIf="item.editable"></i>
            </div>
          </td>
        </ng-container>
    
        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;"
            class="clickable route-animations-elements"
            mat-row></tr>
      </table>

      <mat-paginator class="paginator" [pageSize]="10"></mat-paginator>
    </fury-list>

  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="item.editable">
    <button  mat-button [disabled]="!form.valid" (click)="save()">{{gl.screen.Guardar}}</button>
  </mat-dialog-actions>
    