darta-filtro-mantenedor{
    .title .mat-expansion-panel-header-title{
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
    }
    .actions{
        padding-top: 10px;
        padding-bottom: 19px;
    }
}