<ng-select [items]="langSwitcherOptions" 
bindLabel="title" 
bindValue="value" 
[clearable]="false"
[searchable]="false"
[(ngModel)]="selectedLanguage"
(change)="changeLanguage()"
class="select-language">

<ng-template ng-label-tmp let-item="item">
   <i [ngClass]="item.icon" style="margin-right: 5px;"></i>
</ng-template>
<ng-template ng-option-tmp let-item="item" let-index="index">
   <i [ngClass]="item.icon" style="margin-right: 5px;"></i>
   <b>{{item.title}}</b>
</ng-template>

</ng-select>
